<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <center>
        <h1 style="font-size: 35px">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </h1>
      </center>
    </header>
    <center>
      <main>
        <a href="/admin/login" style="color: blue">Click for login</a>
      </main>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
